.result__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    text-align: center;
}
.result__title{
    font-weight: bold;
    font-size: 28px;
}